{% extends 'base.html' %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}
    <img src="{{ project.featured_image.url }}" alt="{{ project.title }}" style="width: 100%; height: auto;">
<h3>{{ project.title }}</h3>

    {% for tag in tags %}
    	<span style="border: 1px solid #ccc; padding: 5px; margin: 2px;">{{ tag }}</span>
    {% endfor %}

    <p>{{ project.description }}</p>

    <a href="{% url 'update_project' project.id %}">Update</a>
    <a href="{% url 'delete_project' project.id %}">Delete</a>
{% endblock %}